.top {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--gray-700);
}

.container {
  width: 100%;
  max-width: calc(736px + 4rem);
  margin: -27px auto 0;
  padding: 0 2rem 2rem;

  form {
    display: flex;
    gap: 0.5rem;

    input {
      flex: 1;
      height: 54px;
      background-color: var(--gray-500);
      border: 1px solid var(--gray-700);
      border-radius: 8px;
      padding: 1rem;
      color: var(--gray-300);
    }

    button {
      background-color: var(--blue-dark);
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--gray-100);
      gap: 0.5rem;
      padding: 1rem;
      border-radius: 8px;
      border: none;
      transition: background-color 0.2s;

      &:hover {
        background-color: var(--blue);
      }
    }
  }
}

.tasks {
  margin-top: 4rem;

  header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;

    div {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      p {
        font-size: 0.875rem;
        font-weight: 700;
        color: var(--blue);
      }

      span {
        background-color: var(--gray-400);
        font-size: 0.75rem;
        font-weight: 700;
        border-radius: 999px;
        padding: 0.125rem 0.5rem;
      }

      &:last-child p {
        color: var(--purple);
      }
    }
  }
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid var(--gray-400);
  border-radius: 8px;
  padding: 4rem;

  img {
    margin-bottom: 1rem;
  }

  p {
    font-weight: 700;
    color: var(--gray-300);
    line-height: 1.4;
  }

  p + p {
    font-weight: 400;
  }
}

.taskList {
  li {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 8px;
    background-color: var(--gray-500);
    padding: 1rem;
    gap: 1rem;

    input[type="radio"] {
      appearance: none;
      background-color: transparent;
      margin: 0;
      width: 1.25rem;
      height: 1.25rem;
      border: 1px solid var(--blue);
      border-radius: 50%;
      cursor: pointer;

      &:checked {
        border-color: var(--purple-dark);
        background-color: var(--purple-dark);
        background-image: url('/src/assets/check.png');
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.9;
      }
    }

    p {
      flex: 1
    }

    input[type="radio"]:checked + p {
      opacity: 0.9;
      text-decoration: line-through;
      color: var(--gray-300);
    }

    button {
      background-color: transparent;
      border: none;
      width: 1.25rem;
      height: 1.25rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  li + li {
    margin-top: 0.75rem;
  }
}